@model Gummi.Models.Product

@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="headStuff">@Html.DisplayFor(model => model.Name)</h2>

<h4 class="headStuff">Price: $@Html.DisplayFor(model => model.Price)/Bag *</h4>
<h4 class="headStuff">Origin: @Html.DisplayFor(model => model.Origin)</h4>

<p class="headStuff">*Bag contains 100 Gummi Bears</p>
<hr />

<h5 class="headStuff">@Html.ActionLink("Edit Product", "Edit", new { id = Model.ProductId })</h5>
<h5 class="headStuff">@Html.ActionLink("Remove Product", "Delete", new { id = Model.ProductId })</h5>

<hr/>
<p class="headStuff">@Html.ActionLink("Back to Product List", "Index")</p>

