@model Gummi.Models.Product

@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string productImage = "";
    if (Model.Image != null)
    {
        var base64File = Convert.ToBase64String(Model.Image);
        productImage = String.Format("data:image/gif;base64,{0}", base64File);

    }
}

<div class="headStuff">

    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <img src="@productImage" alt="Image of @Model.Name" />

    <h4>Price: $@Html.DisplayFor(model => model.Price)/Bag *</h4>
    <h4>Origin: @Html.DisplayFor(model => model.Origin)</h4>

    <p>*Bag contains 100 Gummi Bears</p>
    <hr />

    <h5>@Html.ActionLink("Edit Product", "Edit", new { id = Model.ProductId })</h5>
    <h5>@Html.ActionLink("Remove Product", "Delete", new { id = Model.ProductId })</h5>

    <hr />
    <p>@Html.ActionLink("Back to Product List", "Index")</p>

</div>